        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'purchaseTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'purchaseTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'purchaseReference' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'purchaseReference' | translate}}" id="1" [(ngModel)]="item.reference"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validPurchaseReference}"  />
                                                    <small class='p-error' *ngIf='!validPurchaseReference'>Reference est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'purchasePurchaseDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'purchasePurchaseDate' | translate}}"  [(ngModel)]="item.purchaseDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'purchaseTotal' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'purchaseTotal' | translate}}" [(ngModel)]="item.total"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                               <!--     <label for="4">{{'purchaseDescription' | translate}}</label>
                                                    <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'purchaseDescription' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>-->
                                                    <p-fileUpload
                                                            name="files"
                                                            [customUpload]="true"
                                                            (uploadHandler)="uploadOne($event, 0)"
                                                            [auto]="true"
                                                    ></p-fileUpload>
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="5">{{'purchaseClient' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="clients" [(ngModel)]="item.client" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="fullName" placeholder="{{'purchaseClient' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'Purchase items' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Product<span style="color: red;">*</span></label>
                                                                        <p-dropdown  appendTo="body"  [options]="products" [(ngModel)]="purchaseItemsElement.product"
                                                                                     id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="reference"
                                                                                     placeholder="Product"  [ngClass]="{'ng-invalid ng-dirty' : !validPurchaseItemsProduct}" >
                                                                        </p-dropdown>
                                                                        <small class='p-error' *ngIf='!validPurchaseItemsProduct'>Product est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Price<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="price" placeholder="Price"  [ngClass]="{'ng-invalid ng-dirty' : !validPurchaseItemsPrice}" [(ngModel)]="purchaseItemsElement.price"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validPurchaseItemsPrice'>Price est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="3">Quantity<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="quantity" placeholder="Quantity"  [ngClass]="{'ng-invalid ng-dirty' : !validPurchaseItemsQuantity}" [(ngModel)]="purchaseItemsElement.quantity"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validPurchaseItemsQuantity'>Quantity est obligatoire.</small>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addPurchaseItems()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.purchaseItems?.length > 0 ? '(' + item.purchaseItems?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.purchaseItems" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Product</th>
                                                                                <th>Price</th>
                                                                                <th>Quantity</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                            <td>{{p.product?.reference}}</td>
                                                                                <td>{{p.price}}</td>
                                                                                <td>{{p.quantity}}</td>
                                                                    <td>
                                                                        <button (click)="deletePurchaseItem(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editPurchaseItem(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple label="Valider"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
